@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(226, 226, 226);
}

nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    background: #fff;
    overflow: hidden;
    transition: 1s;
    z-index:1;
}

nav:hover {
    width: 280px;
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

.logo img {
    width: 75px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
}

nav .fa {
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

a:hover i {
    color: #34AF6D;
    transition: 0.5s;
}

.logout {
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
}

.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
} 



    .order {
        margin-top: 20px;
        text-transform: capitalize;
    }


    .order-list {
        width: 80%;
        margin: 0 auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%; /* Adjust the top value as needed */
        left: 50%; /* Adjust the left value to shift it to the right */
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center  ;
    }

    .table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 15px;
        min-width: 100%;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    table thead tr{
        color: #fff;
        background: #34AF6D;
        text-align: left;
        font-weight: bold;
    }

    .table th, .table td{
        text-align: center;
    }

    .table tbody tr{
        border-bottom: 1px solid #ddd;
    }

    .table tbody tr:nth-of-type(even){
        background: #f3f3f3;
    }

    .table tbody tr.active{
        font-weight: bold;
        color: #4AD490;
    }

    .table tbody tr:last-of-type{
        border-bottom: 2px solid #4AD489;
    }

    .view-button, .edit-button, .delete-button {
        background-color: #34AF6D;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 4px;
        font-size: 14px;
        display: flex;
    }

    .view-button:hover, .edit-button:hover, .delete-button:hover {
        background-color: #258C55;
    }


    .table td button {
        margin: 2px;
    }

    .add-button-container {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .add-button {
        background-color: #34AF6D;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
    }

    .add-button:hover {
        background-color: #258C55;
    }


    .List {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    
    .order-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(209, 205, 205);
        padding: 50px 100px 50px 100px;
    }
    
    .close {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
        color:white;
        background-color:rgb(214, 27, 27);
        width:20px;
        height:30px;
    }
     
    .close:hover{
        background-color:rgb(221, 101, 101);
    }
    
    #addOrderForm{
        width:500px;
    }
    #addOrderForm label{
        font-size:25px;
    }
    
    #addOrderForm input{
        width:500px;
        height:30px;
        border-radius: 5px;
        border:1px solid black;
    }
    
    #addOrderForm button{
        background-color:#30955e;
        color:white;
        font-size:20px;
        border-radius:5px;
        margin-left: 40%;
    }
    #addOrderForm button:hover {
        background-color: #45dd8a;
    }
    
    #editOrder{
        width:500px;
    }
    
    #editOrder label{
        font-size:25px;
    }
    
    #editOrder input{
        width:500px;
        height:30px;
        border-radius: 5px;
        border:1px solid black;
    }
    
    #editOrder button{
        background-color:#30955e;
        color:white;
        font-size:20px;
        border-radius:5px;
        margin-left: 40%;
    }
    #editOrder button:hover {
        background-color: #45dd8a;
    }