body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.order {
    padding: 20px;
}

.order-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

button {
    background-color: #34AF6D;
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px; 
    cursor: pointer;  
    float: right;
    margin-bottom: 10px;
}

button:hover {
    background-color: #258C55;  
}

.return
{
    color: black;
}